.post-tile {
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
  margin-top: 2rem;
}

.post-header {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
}

.title {
  padding: 1rem 0;
}

.comments {
  padding: 0.5rem 0.4rem;
}

