.filters-card {
  display: flex;
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
}

.filters-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1rem 0.3rem;
  border-radius: 1rem;
  width: 100%;
}

.filters-list li {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.nav-link>:first-child {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.nav-link.selected {
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.315);
}

.nav-link:hover {
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.315);
}